* { box-sizing: border-box;}

button {
    background: none;
}

.items h1, button {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;
}


.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px auto;
    gap: 15px;
}


.menuItems {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    border: 1px;
}

.menuItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
}

.menuItem img {
    width: 100%;
    height: 250px;
}

.menuItem h2 {
    width: 250px;
    text-align: match-parent ;
    padding-top: 5px;
    padding-left: 5px;
}

.menuItem p {
    width: 125px;
    padding: 5px;
}

.clickButton{
    padding: 5px;
    margin: 5px;
    font-size: 12px;
}

.clickButton:hover {
    cursor: pointer;
}

.loading p {
    margin: 10px;
}
.loading img {
    width: 100px;
    margin: 10px;
}



@media (max-width: 1650px){

    .menuItems {
        justify-content: center;
    }
}